@{
    ViewData["Title"] = "Ejercicio01";
}

<div class="text-center">
    <h1 class="display-4">Ejercicio01</h1>
    <form asp-action="Ejercicio01" asp-controller="Home" method="post">
        <label>Ingrese un numero: </label>
        <input type="number" name="num" step="1"/> <br />
        <input type="submit" />
    </form>
</div>
