@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Provincias</h1>
    <table>
        <tr><th>Id</th><th>Provincia</th></tr>
        @foreach (var p in Model)
            {
                <tr><td>@p.Id</td><td>@p.Nombre</td></tr>
            }
    </table>
</div>
