@{
    ViewData["Title"] = "Ejercicio02";
}

<div class="text-center">
    <h1 class="display-4">Ejercicio02</h1>
    <form asp-action="Ejercicio2" asp-controller="Home" method="post">
        <label>Ingrese dos numeros: </label>
        <input type="number" name="a" step="1" />
        <input type="number" name="b" step="1" />
        <input type="submit" />
    </form>
</div>
